*{
    margin:0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}

/* Border */

.border {
    border: 1.5px solid transparent;
}

.border:hover{
    border:1.5px solid white
}


/* Box--1 */

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image:url(amazon_logo.png) ;
    background-size: cover;
    height: 50px;
    width: 100px;
}



/* Box--2 */

.d-to{
    color: #cccccc;
    font-size: 0.75rem;
    margin-left: 15px;
}

.IND{
    font-size: 1.05rem;
    margin-left: 3px;
    
}

.add-icon{
    display: flex;
    align-items: center;
}